/* Preamble*/

  html{
      scroll-behavior: smooth;
  }
  a { color: inherit; } 

/* Misc*/

  .sexy_line{ 
      position: relative;
      display:block;
      border:none;
      height:1px;
      background:black;
      width: 65%;
      left: 17.5%;
      background-image: linear-gradient(to right, rgba(230,230,230,1), rgba(0,0,0,1), rgba(230,230,230,1));
  }
  .sexy_line2{ 
    position: relative;
    display:block;
    border:none;
    height:1px;
    background:black;
    width: 100%;
    background-image: linear-gradient(to right, rgba(50,50,50,1), rgba(0,0,0,1), rgba(50,50,50,1));
    grid-column: 1/4;
  }
  .sexy_line3{ 
    position: relative;
    display:block;
    border:none;
    height:1px;
    background:black;
    width: 85%;
    margin-right: auto; 
    margin-left: auto;
    background-image: linear-gradient(to right, rgba(50,50,50,1), rgba(35,35,35,1), rgba(50,50,50,1));
    grid-column: 1/4;
  }

  .fontsize1 { 
    font-size: 22px; }
  .fontsize2 { 
    font-size: 21px; }
  .fontsize3 { 
    font-size: 18px; }

/* Title and Navigation*/

  .container1 { 
    background-image:  linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(https://github.com/SamHSoftware/HTML-and-HTML5/blob/master/Tribute%20page:%20William%20Earnest%20Henley/Images/Book.png?raw=true);
  background-position: 0% 35%;
    background-size: 100%;
    text-align: center;
    font-size: 20px; 
    min-height: 100px; 
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    font-family: Ubuntu;
    display: grid;
  }
  .hyperlink-container {
    text-align: center;
    min-height: 50px; 
    width: 85%;
    background: rgb(50 50 50);
    display: grid; 
    margin-right: auto;
    margin-left: auto;
    font-family: Ubuntu;
    grid-template-columns: 3fr 2fr 3fr;
  }
  .navigation-link {
    text-decoration: none;
    
  }
  .navigation-link h3 { 
      font-weight:100;
      color: rgb(0, 255, 230);
  }
  .navigation-link:hover{
    animation-name: navigation-button;
    animation-duration: 300ms;
    animation-fill-mode: forwards; 
    text-decoration: none;
    background-color: rgb(20 20 20); 
  }
  .navigation-link:hover h3 { 
    animation-name: navigation-button;
    animation-duration: 300ms;
    color: rgb(0, 255, 145);
  }
  @keyframes navigation-button {
    0% { 
    color: rgb(0, 255, 230);}
    100%{
      color: rgb(0, 255, 145);
    }
  }
  .weight1 {font-weight:100}
  .weight2 {font-weight:400;}

  .text-center {text-align: center;}
  .white-text: {color: white;}
  .center1 {
  justify-self:center;
  align-self: center; 
  }
  .center2 {justify-self:center;}
  .center3 {align-self: center;}
  h5 {font-weight: 300;}


/* Introduction */

  .introduction-container {
    min-height: 300px; 
    width: 85%; 
    display: grid;
    background: rgb(230 230 230); 
    margin-right: auto;
    margin-left: auto;
    font-family: Ubuntu;
    grid-gap: 0px 50px;
    grid-template-columns: 1fr 1fr;
  }
  #introduction-title-container {
    background: rgb(230 230 230);
    width: 85%;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
  }
  .introduction-title {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 40%;
    font-family: Ubuntu;
  }
  .introduction-title h4 { margin: 0;}
  .text-justify {text-align: justify;}
  .margin-left1 {margin-left: 50px;}
  .italic {font-style: italic;}
  .introduction-image-box { 
    background: rgb(230 230 230);
    margin-right: 10%;
    display: flex;
    flex-direction: row;
  }
  .introduction-image{
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto 
  }
  .introduction-text{
    grid-column: 1/2;
    text-align: justify;
    margin-left: 20%;
  }

/* Timeline */

  #timeline-title-container {
    background: rgb(230 230 230);
    width: 85%;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
  }
  .timeline-title {
    text-align: center;
    width: 100%;
    position: relative;
    top: 40%;
    font-family: Ubuntu;
  }
  .timeline-title h4 { margin: 0;}

  section#timeline .timeline-container { 
    background: rgb(230 230 230);
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  } /* Grey box containing timeline */
  section#timeline .timeline-container2 { 
    background: rgb(230 230 230);
    width: 100%;
    padding-top: 1.1%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden
  } /* Grey box containing timeline */
  section#timeline .timeline-container:before { 
    content: '';
    width: 5px;
    height: 85%;
    background: rgb(150 150 150);
    left: 0; 
    right: 0;
    top: 2%;
    margin: auto;
    border-radius: 5px;
    position: absolute; 
  } /* Line in middle */
  section#timeline .horizontal-box { 
    width: 100%; 
    margin-right: auto; 
    margin-left: auto;
    position: relative;
    display: block; /* elements are stacked on top of eachother */
    clear: both; /* Don't allow floating elements to the left or right of the specified element*/
  } /* Horizontal box for each timeline box */
  section#timeline .text-box {   
    height: auto;
    border-radius: 6px;
    background: white;
    font-family: Ubuntu;
    margin-top: 10px;
  }

  section#timeline .date-circle-left {
      position: absolute;
      height: 55px;
      width: 55px; 
      border-radius: 100%; 
      font-size: 15px; 
      font-family: Ubuntu;
      border: 2px solid rgb(100,100,100);
      box-shadow: 0 0 0 7px rgb(230 230 230);
      background: rgb(210 210 210);
      left: calc(100% + 35px);
      top: calc(50% - 28px);
      color: rgb(0 0 0);
      display: block;
      text-align: center;
  }
  section#timeline .date-circle-right {
      position: absolute;
      height: 55px;
      width: 55px; 
      border-radius: 100%; 
      font-size: 15px; 
      font-family: Ubuntu;
      border: 2px solid rgb(100,100,100);
      box-shadow: 0 0 0 7px rgb(230 230 230);
      background: rgb(210 210 210);
      right: calc(100% + 35px);
      top: calc(50% - 28px);
      color: rgb(0 0 0);
      display: block;
      text-align: center;
  }
  section#timeline .date-circle-right span {
    display: block;
    text-align: center;
 } /* D, M and Y all on seperate lines */
  section#timeline .date-circle-left span {
    display: block;
    text-align: center;
 } /* D, M and Y all on seperate lines */
  section#timeline .day { 
    font-size: 12px;
    position: relative;
    top: 5%;
  }
  section#timeline .month { 
    font-size: 15px;
    position: relative; 
    top: 5%;
  }
  section#timeline .year { 
    font-size: 12px;
    position: relative; 
    top: 5%;
  }
  section#timeline .year2 { 
      font-size: 15px;
      position: relative; 
      vertical-align: center;
    line-height: 55px;
    }

  section#timeline .text-box h2 { 
    text-align: center; 
    padding: 6px;
    margin: 0px;
    border-radius: 6px 6px 0px 0px;
    letter-spacing: 0px;
    position: relative; 
    font-weight:100;
    color: rgb(0, 255, 230);
    height: 100%;
  }


  section#timeline .text-box p { 
    padding: 6px;
    margin: 0px;
    color: rgb(50 50 50); 
    padding: 10px;
    font-family: Ubuntu;
  }

  section#timeline .left-diamond h2:after {
    content: '';
    position: absolute;
    right: -5px;
    top: calc(50% - 5px); 
    bottom: 0%;
    width: 10px; 
    height: 10px;
    background: red;
    -webkit-transform: rotate(-45deg);
  }
  section#timeline .right-diamond h2:after {
    content: '';
    position: absolute;
    left: -5px;
    top: calc(50% - 5px); 
    bottom: 0%;
    width: 10px; 
    height: 10px;
    background: red;
    -webkit-transform: rotate(-45deg);
  }
  section#timeline .float-right { 
    float: right; 
    margin-right: 10%;
    margin-left: calc(50% + 65px);
  }
  section#timeline .float-left { 
    float: left; 
    margin-left: 10%;
    margin-right: calc(50% + 65px);
  }

  section#timeline .colour1 h2 { 
    background: rgb(50 50 50);
  }
  section#timeline .colour1 h2:after { 
    background: rgb(50 50 50);
  }

  section#timeline .colour2 h2 { 
    background: rgb(50 50 50);
  }
  section#timeline .colour2 h2:after { 
    background: rgb(50 50 50);
  }

  section#timeline .colour3 h2 { 
    background: rgb(50 50 50);
  }
  section#timeline .colour3 h2:after { 
    background: rgb(50 50 50);
  }

  section#timeline .colour4 h2 { 
    background: rgb(50 50 50);
  }
  section#timeline .colour4 h2:after { 
    background: rgb(50 50 50);
  }

  section#timeline .colour5 h2 { 
    background: rgb(50 50 50);
  }
  section#timeline .colour5 h2:after { 
    background: rgb(50 50 50);
  }

  section#timeline .colour6 h2 { 
    background: rgb(50 50 50);
  }
  section#timeline .colour6 h2:after { 
    background: rgb(50 50 50);
  }

  section#timeline .padding-down .div:after { 
    height: 50px; 
    width: 50px; 
    background: red; 
}

/* Poetry */

  section#poetry .title-box { 
    width: 85%; 
    height: 120px; 
    background: rgb(230 230 230); 
    margin-right: auto; 
    margin-left: auto;
  }
  section#poetry .poetry-title {
    position: relative;
    font-size: 20px;
    font-family: Ubuntu;
    text-align: center;
    top: 50%; 
    }
  section#poetry .poetry-title h4 {
      margin: 0px;
  }

  section#poetry .poetry-container { 
      min-height: 300px; 
      width: 85%; 
      display: grid;
      background: rgb(230 230 230); 
      margin-right: auto;
      margin-left: auto;
      font-family: Ubuntu;

      font-size: 17px;
  }
  section#poetry .poem1 { 
    grid-column: 1/2; 
    text-align: center;
  }
  section#poetry .poem2 { 
    grid-column: 2/3; 
    text-align: center;
  }

/* Photos */

  section#photos .title-box { 
    width: 85%; 
    height: 120px; 
    background: rgb(230 230 230); 
    margin-right: auto; 
    margin-left: auto;
  }
  section#photos .photos-title {
    position: relative;
    font-size: 20px;
    font-family: Ubuntu;
    text-align: center;
    top: 50%; 
    }
  section#photos .photos-title h4 {
      margin: 0px;
  }

  section#photos .photos-container { 
      min-height: 300px; 
      width: 85%; 
      display: grid;
      grid-row-gap: 60px; 
      grid-template-columns: 50% 50%; 
      grid-template-rows: 300px 300px; 
      background: rgb(230 230 230); 
      margin-right: auto;
      margin-left: auto;
      font-family: Ubuntu;
      font-size: 17px;
  }
  section#photos .photos-box1 { 
    width: 100%; 
    height: 100%; 
    background: rgb(230 230 230); 
    display: flex; 
    flex-direction: row; 
  }
  section#photos .photo1 { 
    margin-right: auto; 
    margin-left: auto;
    max-height: 100%;
    max-width: 100%;
}

/* links */

  section#links .title-box { 
    width: 85%; 
    height: 120px; 
    background: rgb(230 230 230); 
    margin-right: auto; 
    margin-left: auto;
  }
  section#links .links-title {
    position: relative;
    font-size: 20px;
    font-family: Ubuntu;
    text-align: center;
    top: 50%; 
    }
  section#links .links-title h4 {
      margin: 0px;
  }

  section#links .links-container { 
    background-color: rgb(230 230 230);
    text-align: center;
    width: 85%;
    margin-right: auto; 
    margin-left: auto;
  }
  section#links .link-circle {
    background-color: rgb(170 170 170);
    border-radius: 100%;
    height: 70px;
    width: 70px;
    display: inline-flex;
    align-items: center; /*Vertical alignment*/ 
    justify-content: center; /*Horizontal alignment*/ 
    margin-left: 30px; 
    margin-right: 30px; 
    margin-top: 10px;
    margin-bottom: 20px;
  }
  section#links .icons { 
    font-size: 40px; 
    color: #0080FF;
  }
  section#links a.icon-anchor { 
    text-decoration: none;
  }


@media screen and (max-width:1000px){

  .sexy_line2{ 
    position: relative;
    display:block;
    border:none;
    height:1px;
    background:black;
    width: 100%;
    background-image: linear-gradient(to right, rgba(50,50,50,1), rgba(0,0,0,1), rgba(50,50,50,1));
    grid-column: 1/4;
  }
  .sexy_line3{ 
    position: relative;
    display:block;
    border:none;
    height:1px;
    bottom: 100%;
    margin-right: auto;
    margin-left: auto;
    background:black;
    width: 99%;
    background-image: linear-gradient(to right, rgba(50,50,50,1), rgba(35,35,35,1), rgba(50,50,50,1));

  }
  
  .container1 { 
    background-image:  linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(https://github.com/SamHSoftware/HTML-and-HTML5/blob/master/Tribute%20page:%20William%20Earnest%20Henley/Images/Book.png?raw=true);
  background-position: 0% 35%;
    background-size: 100%;
    text-align: center;
    font-size: 20px; 
    min-height: 100px; 
    width: 99%;
    margin-right: auto;
    margin-left: auto;
    font-family: Ubuntu;
    display: grid;
  }
  .hyperlink-container {
    text-align: center;
    min-height: 50px; 
    width: 99%;
    background: rgb(50 50 50);
    display: grid; 
    margin-right: auto;
    margin-left: auto;
    font-family: Ubuntu;
    grid-template-rows: repeat 3(30px);
    grid-template-columns: 1fr; 

  }
  .row1 { 
    grid-row: 1/2;
    margin: 0px; 
  }
  .row2 { 
    grid-row: 2/3;
      margin: 0px; 
  }
  .row3 { 
    grid-row: 3/4;
      margin: 0px; 
  }
  .navigation-link h3 {
    margin: 10px;
  }
  
  .introduction-container {
    min-height: 300px; 
    width: 99%; 
    display: grid;
    background: rgb(230 230 230); 
    margin-right: auto;
    margin-left: auto;
    font-family: Ubuntu;
    grid-gap: 0px 50px;
    grid-template-rows: 1fr 0.1fr;
    grid-template-columns: 1fr;
  }
  #introduction-title-container {
    background: rgb(230 230 230);
    width: 99%;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
  }
  .introduction-image-box { 
    background: rgb(230 230 230);
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  .introduction-image{
    max-height: 300px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .introduction-text{
    grid-row: 1/2;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  #timeline-title-container {
    background: rgb(230 230 230);
    width: 99%;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
  }
  section#timeline .timeline-container { 
    background: rgb(230 230 230);
    width: 99%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  } /* Grey box containing timeline */
  
  section#poetry .title-box { 
    width: 99%; 
    height: 120px; 
    background: rgb(230 230 230); 
    margin-right: auto; 
    margin-left: auto;
}
  section#poetry .poetry-container { 
      min-height: 300px; 
      width: 99%; 
      display: grid;
      background: rgb(230 230 230); 
      margin-right: auto;
      margin-left: auto;
      font-family: Ubuntu;
      font-size: 17px;
  }
  
  section#photos .photos-container { 
    min-height: 300px; 
    width: 99%; 
    display: grid;
    grid-row-gap: 60px; 
    grid-template-columns: 50% 50%; 
    grid-template-rows: 300px 300px; 
    background: rgb(230 230 230); 
    margin-right: auto;
    margin-left: auto;
    font-family: Ubuntu;
    font-size: 17px;
  }
  section#photos .title-box { 
    width: 99%; 
    height: 120px; 
    background: rgb(230 230 230); 
    margin-right: auto; 
    margin-left: auto;
  }
  
   section#links .title-box { 
    width: 99%; 
    height: 120px; 
    background: rgb(230 230 230); 
    margin-right: auto; 
    margin-left: auto;
  }
 
  section#links .links-container { 
    background-color: rgb(230 230 230);
    text-align: center;
    width: 99%;
    margin-right: auto; 
    margin-left: auto;
  }
}

@media screen and (max-width:800px){
    section#poetry .poetry-container { 
      width: 99%; 
      grid-template-rows: repeat 2(1fr);
      grid-template-columns: 1fr; 
      background: rgb(230 230 230); 
      margin-right: auto;
      margin-left: auto;
      font-family: Ubuntu;
      font-size: 17px;
  }
  
    section#poetry .poem1 { 
      margin-top: 20px;
      grid-row: 1/2; 
      grid-column: 1/3;
      margin-right: 5px;
      margin-left: 5px;
      text-align: center;
  }
    section#poetry .poem2 { 
      margin-top: 20px;
      margin-right: 5px;
      margin-left: 5px;
      grid-row: 2/3; 
      grid-column: 1/3;
      text-align: center;
    }
}

@media screen and (max-width:650px){
  

  section#timeline .left-diamond h2:after {
    content: '';
    position: absolute;
    left: -5px;
    top: 35%; 
    bottom: 0%;
    width: 10px; 
    height: 10px;
    background: rgb(50 50 50);
    -webkit-transform: rotate(-45deg);
  }
 
  section#timeline .float-right { 
    margin-right: 10%;
    margin-left: 100px;
  }
  section#timeline .float-left { 
    margin-right: 10%;
    margin-left: 100px;
  }

  section#timeline .timeline-container:before { 
    content: '';
    width: 5px;
    height: 85%;
    background: rgb(150 150 150);
    margin-left: 59px;
    border-radius: 5px;
    position: absolute; 
  } /* Line in middle */
  section#timeline .text-box { 
    height: auto;
    margin-top: 15px;
    border-radius: 6px;
    background: white;
    font-family: Ubuntu;
  }

  section#timeline .date-circle-left {
      position: absolute;
      height: 55px;
      width: 55px; 
      border-radius: 100%; 
      font-size: 15px; 
      font-family: Ubuntu;
      border: 2px solid rgb(100,100,100);
      box-shadow: 0 0 0 7px rgb(230 230 230);
      background: rgb(210 210 210);
      left: -70px;
      top: calc(50% - 28px);
      color: rgb(0 0 0);

  }
  section#timeline .date-circle-right {
      position: absolute;
      height: 55px;
      width: 55px; 
      border-radius: 100%; 
      font-size: 15px; 
      font-family: Ubuntu;
      border: 2px solid rgb(100,100,100);
      box-shadow: 0 0 0 7px rgb(230 230 230);
      background: rgb(210 210 210);
      left: -70px;
      top: calc(50% - 28px);
      color: rgb(0 0 0);
  }
}

@media screen and (max-width:650px){
    section#photos .photos-container { 
    min-height: 300px; 
    width: 99%; 
    display: grid;
    grid-row-gap: 60px; 
    grid-template-columns: 100%; 
    grid-template-rows: 300px 300px 300px 300px; 
    background: rgb(230 230 230); 
    margin-right: auto;
    margin-left: auto;
    font-family: Ubuntu;
    font-size: 17px;
  }
}
